@{
    ViewData["Title"] = "Welcome";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Cool Bible Verses</h1>
    <h3 class ="display-9">Your home for all your Bible Verse needs!</h3>
    <p></p>
    <div style="height:450px;"></div>
    <div>
        <script src="https://www.biblegateway.com/votd/votd.write.callback.js"></script>
        <script src="https://www.biblegateway.com/votd/get/?format=json&version=NLT&callback=BG.votdWriteCallback"></script>
    </div>
</div>
